/* Add mobile styles for the component here.  */
.selected {
    background-color: rgb(255, 238, 0);
}
.all_games_con {
    padding: 4 8;
}
.game_con {
    margin: 0 0 10 0;
    padding: 0;
    width: 30%;
}
.game_inner_con {
    background-color: white;
    padding: 4;
}
.game_name {
    font-size: 14;
}
.gmae_btn {
    font-size: 11;
}