<!--The content below is only a placeholder and can be replaced.-->
<app-action-bar title="Make a new Deposit" [hasMenu]='true' [showGoBackButton]="true"></app-action-bar>
<ScrollView>
    <FlexBoxLayout flexDirection="column">
        <!-- Notice Board Section -->
        <Label text="Make a new Deposit" class="h3 p-10 m-b-0 text-center text-uppercase" letterSpacing=".2" style="background: black; color: white;margin: 0;"></Label>
        <!-- Coin Part Section -->
        <FlexBoxLayout width="100%" justifyContent="space-around" style="margin: 14 0 0 0;">
            <FlexBoxLayout width="94%" justifyContent="space-between" alignItems="center">
                <FlexBoxLayout width="66%" justifyContent="space-around" alignItems="center" flexDirection="column" marginTop="0">
                    <TextField hint="Enter a Registered Number" [(ngModel)]="reciver_number" width="100%" style="border-width: 2; border-radius: 4;" class="text-center body p-10" keyboardType="phone" [isUserInteractionEnabled]="!userFound"></TextField>
                </FlexBoxLayout>
                <FlexBoxLayout width="32%" justifyContent="space-around" style="margin: -7.5 0 0 0;" alignItems="center" flexDirection="column" marginTop="0">
                    <Button text="SEARCH" width="100%" height="42" fontSize="14" borderRadius="4" class="bg_forest t_white p-0" (tap)="searchPerson()" *ngIf="!searchForPerson"></Button>
                    <ActivityIndicator [busy]='true' *ngIf="searchForPerson"></ActivityIndicator>
                </FlexBoxLayout>
            </FlexBoxLayout>
        </FlexBoxLayout>

        <FlexBoxLayout width="100%" justifyContent="space-around" style="margin: 0 0 5 0; border-width: 2;">
            <Label text="SEARCH RESULTS" style="font-size: 18; font-weight: 600; letter-spacing: .1;" class="text-center"></Label>
        </FlexBoxLayout>

        <FlexBoxLayout width="100%" justifyContent="center"  alignItems="center" style="margin: 15 0 20 0;" flexDirection="column">
            <FlexBoxLayout width="94%" justifyContent="space-between" alignItems="center" flexDirection="row">
                <FlexBoxLayout width="49%" justifyContent="space-around" alignItems="center" flexDirection="column">
                    <Label text="Account Name" width="100%" style="text-align: left;"></Label>
                    <Label [text]="reciver.name" width="100%" style="border-width: 2; border-radius: 4;" class="text-center bg_grey body p-10"></Label>
                </FlexBoxLayout>
                <FlexBoxLayout width="49%" justifyContent="space-around" alignItems="center" flexDirection="column">
                    <Label text="Registered Mobile Number" width="100%" style="text-align: left;"></Label>
                    <Label [text]="reciver.number" width="100%" style="border-width: 2; border-radius: 4;" class="text-center bg_grey body p-10"></Label>
                </FlexBoxLayout>
            </FlexBoxLayout>

            <FlexBoxLayout width="94%" justifyContent="space-between" alignItems="center" flexDirection="row">
                <FlexBoxLayout width="49%" justifyContent="space-around" alignItems="center" flexDirection="column">
                    <Label text="City" width="100%" style="text-align: left;"></Label>
                    <Label [text]="reciver.city" width="100%" style="border-width: 2; border-radius: 4;" class="text-center bg_grey body p-10"></Label>
                </FlexBoxLayout>
                <FlexBoxLayout width="49%" justifyContent="space-around" alignItems="center" flexDirection="column">
                    <Label text="Country" width="100%" style="text-align: left;"></Label>
                    <Label [text]="reciver.country" width="100%" style="border-width: 2; border-radius: 4;" class="text-center bg_grey body p-10"></Label>
                </FlexBoxLayout>
            </FlexBoxLayout>
        </FlexBoxLayout>

        <Label class="hr m-5" style="border-color: black;"></Label>

        <FlexBoxLayout width="100%" justifyContent="space-around" alignItems="center" class="m-t-10 m-b-20">
            <FlexBoxLayout width="100%" justifyContent="space-around" alignItems="center" flexDirection="column">
                <TextField #coinsToTransfer hint="Enter Number of Coins" [(ngModel)]="amountToDeposit" width="60%" style="border-width: 2; border-radius: 4;" class="text-center body p-10" keyboardType="phone"></TextField>
                <Label text="Enter the Amount to be Deposited" [textWrap]="true" width="100%" class="text-center" marginTop="-4"></Label>
            </FlexBoxLayout>
        </FlexBoxLayout>

        <FlexBoxLayout width="100%" justifyContent="space-around" style="margin: 0 0 5 0;">
            <Button text="Deposit Now" (tap)="depositAmount()" fontSize="14" width="50%" borderRadius="4" class="bg_green t_white p-0" *ngIf="!formSubmited" [isEnabled]="userFound && coinsEntered"></Button>
            <ActivityIndicator [busy]='true' *ngIf="formSubmited"></ActivityIndicator>
        </FlexBoxLayout>
        <!-- <Label [text]="remaining_coins" fontSize="14" width="60%" marginBottom="25" borderRadius="4" class="text-center"></Label> -->
        
        <!-- App Footer -->
        <!-- <app-footer [section_1]="false"></app-footer> -->
    </FlexBoxLayout>
</ScrollView>