<!--The content below is only a placeholder and can be replaced.-->
<app-action-bar
    title="Transaction History"
    [hasMenu]="true"
    [showBackButton]="false"
    [showNotifications]="true"
    *ngIf="!loadinPageData_s"
></app-action-bar>
<app-action-bar
    [title]=""
    [hasMenu]="false"
    [showBackButton]="false"
    [showNotifications]="false"
    *ngIf="loadinPageData_s"
></app-action-bar>
<ScrollView>
    <FlexBoxLayout flexDirection="column" *ngIf="!loadinPageData_s">
        <!-- Notice Board Section -->
        <label
            text="VIEW TRANSACTION HISTORY"
            class="h3 p-10 m-b-0 text-center text-uppercase"
            letterSpacing=".2"
            style="background: black; color: white; margin-bottom: 0;"
        ></label>
        <!-- <Label class="hr m-10"></Label> -->

        <FlexBoxLayout
            flexDirection="column"
            justifyContent="space-around"
            *ngIf="_transcationRecords"
        >
            <GridLayout
                rows="auto"
                columns="2*,2*,*,*,*"
                class="p-10 bg_forest report_heading_row"
            >
                <label row="0" col="0" text="Date/Time" class="t_white"></label>
                <label row="0" col="1" text="Trx#" class="t_white"></label>
                <label row="0" col="2" text="Cr" class="t_white"></label>
                <label row="0" col="3" text="Db" class="t_white"></label>
                <label row="0" col="4" text="Balance" class="t_white"></label>
            </GridLayout>
            <GridLayout
                rows="auto"
                columns="2*,2*,*,*,*"
                class="report_row"
                *ngFor="let record of _transcationRecords"
            >
                <label
                    row="0"
                    col="0"
                    [text]="record.date_time"
                    class="m-l-10"
                ></label>
                <label row="0" col="1" [text]="record.trx_id"></label>
                <label
                    row="0"
                    col="2"
                    [text]="getCreditAmount(record)"
                    [ngClass]="{'t_green': record.transaction_type != 'debit'}"
                ></label>
                <label
                    row="0"
                    col="3"
                    [text]="getDebitAmount(record)"
                    [ngClass]="{'t_red': (record.transaction_type == 'debit')}"
                ></label>
                <label row="0" col="4" [text]="record.remaining_balance"></label>
            </GridLayout>
        </FlexBoxLayout>
        <FlexBoxLayout
            *ngIf="!_transcationRecords"
            flexDirection="column"
            justifyContent="space-around"
            class="p-y-20"
        >
            <label
                text="No Transaction History Available"
                textWrap="true"
                style="font-size: 18;"
                class="text-center"
            ></label>
        </FlexBoxLayout>

        <label class="hr m-10"></label>

        <!-- <FlexBoxLayout justifyContent="space-around" class="">
            <Button text="Show More Entries" borderColor="black" borderRadius="4" class="-outline" width="70%"></Button>
        </FlexBoxLayout> -->

        <!-- App Footer -->
        <app-footer [section_1]="false"></app-footer>
    </FlexBoxLayout>
    <FlexBoxLayout
        justifyContent="center"
        alignItems="center"
        *ngIf="loadinPageData_s"
        height="100vh"
    >
        <ActivityIndicator busy="true"></ActivityIndicator>
    </FlexBoxLayout>
</ScrollView>
