<!--The content below is only a placeholder and can be replaced.-->
<app-action-bar
    title="User Achievements"
    [hasMenu]="true"
    [showBackButton]="false"
    [showNotifications]="true"
    *ngIf="!loadinPageData_s"
></app-action-bar>
<app-action-bar
    [title]=""
    [hasMenu]="false"
    [showBackButton]="false"
    [showNotifications]="false"
    *ngIf="loadinPageData_s"
></app-action-bar>
<ScrollView>
    <FlexBoxLayout
        flexDirection="column"
        *ngIf="!loadinPageData_s && _userData"
    >
        <!-- Notice Board Section -->
        <FlexBoxLayout class="bg_forest" style="padding: 20 0 50 0;">
            <FlexBoxLayout flexDirection="column" class="m-l-20">
                <GridLayout rows="auto" columns="*, auto">
                    <FlexBoxLayout
                        flexDirection="column"
                        alignItems="flex-start"
                        class="m-t-0"
                        row="0"
                        col="0"
                    >
                        <TextField
                            class="t_white text-left"
                            [text]="_userData.name | uppercase"
                            style="
                                font-size: 22;
                                margin-left: -10;
                                padding-left: 10;
                                margin-bottom: -4;
                                border-width: 0;
                                background-color: transparent;
                                color: white;
                            "
                            width="100%"
                            isUserInteractionEnabled="false"
                        ></TextField>
                        <label
                            class="t_white"
                            [text]="_userData.member_since"
                            style="font-size: 12;"
                            [textWrap]="true"
                        ></label>
                        <label class="t_orange m-b-5" style="font-size: 14;">
                            <FormattedString>
                                <span text="Total Earned Coins: "></span>
                                <span [text]="_userData.coins"></span>
                            </FormattedString>
                        </label>
                    </FlexBoxLayout>
                    <FlexBoxLayout
                        flexDirection="column"
                        justifyContent="center"
                        alignItems="center"
                        class="m-r-30"
                        row="0"
                        col="1"
                    >
                        <!-- <image
                            [src]="user_img"
                            width="120"
                            height="120"
                            *ngIf="hasProfileImg"
                        ></image>
                        <label
                            text="&#xf007;"
                            class="fa text-center t_white"
                            width="120"
                            height="120"
                            style="font-size: 90;"
                            *ngIf="!hasProfileImg"
                        ></label>
                        <button
                            (tap)="uploadImg()"
                            text="Upload"
                            style="font-size: 12; margin: -14 0 0 0;"
                            class="text-uppercase"
                            *ngIf="editing"
                        ></button> -->
                    </FlexBoxLayout>
                </GridLayout>
                <FlexBoxLayout class="t_white m-t-20" style="font-size: 18;">
                    <label
                        text="Personal"
                        class="m-r-20"
                        nsRouterLink="/user/profile"
                    ></label>
                    <label
                        text="Achievements"
                        class="m-r-20"
                        borderBottomWidth="2"
                        borderColor="white"
                    ></label>
                    <!-- <label
                        text="Security"
                        nsRouterLink="/user/security"
                    ></label> -->
                </FlexBoxLayout>
            </FlexBoxLayout>
        </FlexBoxLayout>

        <!-- Second Sectoion -->
        <FlexBoxLayout flexDirection="column" class="section_2_con" *ngIf="achievements_records">
            <FlexBoxLayout
                width="100%"
                justifyContent="space-around"
                class="m-b-10"
            >
                <FlexBoxLayout
                    width="35%"
                    flexDirection="column"
                ></FlexBoxLayout>
                <FlexBoxLayout width="30%" flexDirection="column">
                    <label
                        [textWrap]="true"
                        text="Coins Spent"
                        class="info_name"
                        style="font-size: 14; text-align: right;"
                    ></label>
                </FlexBoxLayout>
                <FlexBoxLayout width="30%" flexDirection="column">
                    <label
                        [textWrap]="true"
                        text="Coins Earned"
                        class="info_name"
                        style="font-size: 14; text-align: right;"
                    ></label>
                </FlexBoxLayout>
            </FlexBoxLayout>

            <FlexBoxLayout
                width="100%"
                justifyContent="space-around"
                class="record_row"
                *ngFor="let record of achievements_records"
            >
                <FlexBoxLayout width="35%" flexDirection="column">
                    <label [text]="record.name" class="record_name"></label>
                </FlexBoxLayout>
                <FlexBoxLayout width="30%" flexDirection="column">
                    <label
                        [textWrap]="true"
                        [text]="record.coin_spend"
                        class="record_value"
                    ></label>
                </FlexBoxLayout>
                <FlexBoxLayout width="30%" flexDirection="column">
                    <label
                        [textWrap]="true"
                        [text]="record.coin_earned"
                        class="record_value"
                    ></label>
                </FlexBoxLayout>
            </FlexBoxLayout>

            <FlexBoxLayout
                width="100%"
                justifyContent="flex-end"
                class="record_row"
            >
                <FlexBoxLayout
                    width="35%"
                    flexDirection="column"
                ></FlexBoxLayout>
                <FlexBoxLayout width="20%" flexDirection="column">
                    <label
                        class="hr m-y-10"
                        style="border-color: black;"
                    ></label>
                </FlexBoxLayout>
                <FlexBoxLayout
                    width="20%"
                    flexDirection="column"
                    style="margin-left: 38;"
                >
                    <label
                        class="hr m-y-10"
                        style="border-color: black;"
                    ></label>
                </FlexBoxLayout>
            </FlexBoxLayout>

            <FlexBoxLayout
                width="100%"
                justifyContent="space-around"
                class="record_row"
            >
                <FlexBoxLayout width="35%" flexDirection="column">
                    <label
                        text="Total"
                        class="record_name"
                        style="font-weight: 700;"
                    ></label>
                </FlexBoxLayout>
                <FlexBoxLayout width="27%" flexDirection="column">
                    <label
                        [textWrap]="true"
                        [text]="coin_spend_total"
                        class="record_value"
                    ></label>
                </FlexBoxLayout>
                <FlexBoxLayout width="27%" flexDirection="column">
                    <label
                        [textWrap]="true"
                        [text]="coin_earned_total"
                        class="record_value"
                    ></label>
                </FlexBoxLayout>
            </FlexBoxLayout>
        </FlexBoxLayout>
        <FlexBoxLayout flexDirection="column" class="section_2_con" *ngIf="!achievements_records">
            <Label text="Your Acihements Will Show Here" width="100%" class="text-center" style="color: grey; font-size: 16;" textWrap="true"></Label>
        </FlexBoxLayout>

        <!-- App Footer -->
        <app-footer
            [section_1]="false"
            [section_2]="false"
            [section_3]="false"
        ></app-footer>
    </FlexBoxLayout>
    <FlexBoxLayout
        justifyContent="center"
        alignItems="center"
        *ngIf="loadinPageData_s"
        height="100vh"
    >
        <ActivityIndicator busy="true"></ActivityIndicator>
    </FlexBoxLayout>
</ScrollView>
