<FlexBoxLayout width="auto" height="auto" borderWidth="2" borderRadius="4" borderColor="white" flexDirection="column" justifyContent="center" alignItems="center" style="padding: 30 5;">
    <FlexBoxLayout flexDirection="column" justifyContent="center" alignItems="center" *ngIf="!requestApproved">
        <!-- <Label text="PLEASE CONFIRM THAT YOU WISH TO DEPOSIT" style="font-size: 20;" [textWrap]="true" class="text-center" width="90%"></Label> -->
        <FlexBoxLayout justifyContent="center" alignItems="center">
            <TextField hint="ENTER TRX ID HERE" width="200" keyboardType="phone" height="40" [(ngModel)]="trx_no" class="text-center" style="border-width: 1; border-color: black; border-radius: 4; margin: 10 0 10 0;"></TextField>
        </FlexBoxLayout>
        <FlexBoxLayout justifyContent="center" alignItems="center" class="m-t-0 m-b-0">
            <Label text="FOR AMOUNT" class="text-center t_black" style="font-size: 15;"></Label>
        </FlexBoxLayout>
        <FlexBoxLayout justifyContent="center" alignItems="center" class="m-t-0 m-b-10">
            <Label text="PKR" class="text-center t_black m-r-5" style="font-size: 18;"></Label>
            <Label [text]="modalData.amount" class="text-center t_black" style="font-size: 24;"></Label>
        </FlexBoxLayout>
        <Label text="FOR THE WALLET WITHDRAWAL REQUEST OF" style="font-size: 14; font-weight: 400; text-align: center;" textWrap="true"></Label>
        <FlexBoxLayout justifyContent="center" alignItems="center" flexDirection="column" class="m-t-10 m-b-15">
            <Label [text]="modalData.account_name" class="text-center" style="font-size: 24;"></Label>
            <Label [text]="modalData.account_no" class="text-center t_blue" style="font-size: 24;"></Label>
        </FlexBoxLayout>
        <FlexBoxLayout justifyContent="center" alignItems="center" class="m-t-10" width="98%">
            <Button width="48%" borderRadius="4" borderWidth="1" (tap)="onHandle('approve')" class="bg_green t_white" text="APPROVE" style="font-size: 13;" [isEnabled]="trxNoAdded"></Button>
            <Button width="48%" borderRadius="4" borderWidth="1" (tap)="onHandle('reject')" class="bg_orange t_white" text="REJECT" style="font-size: 13;"></Button>
        </FlexBoxLayout>
    </FlexBoxLayout>
    <FlexBoxLayout flexDirection="column" justifyContent="center" alignItems="center" *ngIf="requestApproved" class="m-t-10">
        <Image src="res://greencheck" width="140" height="140"></Image>
        <FlexBoxLayout justifyContent="center" alignItems="center" class="m-t-0 m-b-0">
            <Label text="PKR" class="text-center t_black m-r-5" style="font-size: 18;"></Label>
            <Label [text]="modalData.amount" class="text-center t_black" style="font-size: 24;"></Label>
        </FlexBoxLayout>
        <Label text="CREDITED TO EXTERNAL WALLET ACCOUNT OF" style="font-size: 14; font-weight: 400; text-align: center;" textWrap="true"></Label>
        <FlexBoxLayout justifyContent="center" alignItems="center" flexDirection="column" class="m-t-15 m-b-20">
            <Label [text]="modalData.account_name" class="text-center" style="font-size: 24;"></Label>
            <Label [text]="modalData.account_no" class="text-center t_blue" style="font-size: 24;"></Label>
        </FlexBoxLayout>
        <Label [text]="request_approved_date_time" width="80%" style="font-size: 12; font-weight: 400; text-align: center;" textWrap="true"></Label>
        <FlexBoxLayout justifyContent="center" alignItems="center" class="m-t-20" width="98%">
            <Button width="48%" borderRadius="4" borderWidth="1" (tap)="aprovedMessagePopupHandler()" class="bg_green t_white" text="OKAY!!!" style="font-size: 13;"></Button>
        </FlexBoxLayout>
    </FlexBoxLayout>
</FlexBoxLayout>