/* Add mobile styles for the component here.  */
.take-picture-icon {
    background-color: rgb(105, 105, 241);
    padding: 12;
    border-width: 1.2;
    border-color: black;
    border-radius: 14;
    margin-top: 20;
    color: white;
    font-size: 30;
}
.picture-gallery {
    margin-top: 60;
}
.gallery-item {
    margin: 10;
}