<app-action-bar
    title="Sign Up"
    [showGoBackButton]="false"
    [hasMenu]="false"
></app-action-bar>
<ScrollView>
    <FlexboxLayout
        class="main_con"
        flexDirection="column"
        justifyContent="flex-start"
        alignItems="center"
        style="padding: 80 0 0 0;"
    >
        <StackLayout class="text-center m-b-0">
            <label class="h1 t_white" text="Sign Up"></label>
            <label
                class="h3 t_white"
                text="Create Your eWallet Account"
            ></label>
        </StackLayout>
        <StackLayout class="nt-form" style="margin: -10 0 0 0;">
            <label
                class="h4 text-center t_red"
                [text]="errorMessage"
                *ngIf="errorOccured"
                width="80%"
            ></label>
            <TextField
                width="80%"
                class="input_field ok -border"
                [autocorrect]="false"
                ReturnKeyType="next"
                textAlignment="center"
                hint="Enter Referral Code"
                [(ngModel)]="user_referal_code"
                style="placeholder-color: rgba(255, 255, 255);"
                autocapitalizationType="none"
                autocorrect="false"
                maxLength="6"
            ></TextField>
            <TextField
                width="80%"
                class="input_field ok -border"
                [autocorrect]="false"
                ReturnKeyType="next"
                textAlignment="center"
                hint="Enter Name"
                [(ngModel)]="user_name"
                style="placeholder-color: rgba(255, 255, 255);"
                autocapitalizationType="none"
                autocorrect="false"
            ></TextField>
            <TextField
                width="80%"
                class="input_field ok -border"
                [autocorrect]="false"
                ReturnKeyType="next"
                textAlignment="center"
                hint="Enter Number (03000000000)"
                [(ngModel)]="user_number"
                keyboardType="phone"
                maxLength="11"
                style="placeholder-color: rgba(255, 255, 255);"
                autocapitalizationType="none"
                autocorrect="false"
            ></TextField>
            <TextField
                width="80%"
                class="input_field input -border"
                hint="Enter Password (Min 6)"
                textAlignment="center"
                ReturnKeyType="done"
                [(ngModel)]="user_password"
                style="placeholder-color: rgba(255, 255, 255);"
                autocapitalizationType="none"
                autocorrect="false"
            ></TextField>
            <TextField
                width="80%"
                class="input_field input -border"
                hint="Confirm Password"
                textAlignment="center"
                ReturnKeyType="done"
                [(ngModel)]="user_password_confirm"
                style="placeholder-color: rgba(255, 255, 255);"
                autocapitalizationType="none"
                autocorrect="false"
            ></TextField>
            <!-- <label
                class="text-center t_white body"
                width="80%"
                textWrap="true"
                (tap)="openTermsandConditions()"
            >
                <FormattedString>
                    <span text="I agree to the "></span>
                    <span
                        text=" Terms & Conditions "
                        class="t_brown"
                        style="font-size: 15; color: rgb(221, 189, 5);"
                    ></span>
                    <span text=" of use"></span>
                </FormattedString>
            </label> -->
            <button
                width="80%"
                *ngIf="!formSubmited"
                text="Sign Up"
                class="-primary"
                (tap)="signUpAction()"
                [isEnabled]="dataEntered"
                style="font-size: 18;"
            ></button>
            <ActivityIndicator
                [busy]="true"
                *ngIf="formSubmited"
            ></ActivityIndicator>
        </StackLayout>
        <label class="body t_white" text="Already have a account?"></label>
        <GridLayout rows="auto" columns="auto,auto">
            <label
                class="body t_white text-right m-r-5"
                row="0"
                col="0"
                text="Signin into your eWallet account"
            ></label>
            <label
                class="body text-left"
                row="0"
                col="1"
                text="Here"
                (tap)="signInPage()"
                style="color: chartreuse;"
            ></label>
        </GridLayout>
    </FlexboxLayout>
</ScrollView>
