/* Add mobile styles for the component here.  */
.main_con {
    background-image: url('res://siginbg1');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
TextField {
    color: white;
}
TextField.input_field {
    margin-bottom: 4;
}
TextField:focus {
    border-color: white;
}