<!--The content below is only a placeholder and can be replaced.-->
<app-action-bar
    title="User Profile"
    [hasMenu]="true"
    [showBackButton]="false"
    [showNotifications]="true"
    *ngIf="!loadinPageData_s"
></app-action-bar>
<app-action-bar
    [title]=""
    [hasMenu]="false"
    [showBackButton]="false"
    [showNotifications]="false"
    *ngIf="loadinPageData_s"
></app-action-bar>
<ScrollView>
    <FlexBoxLayout
        flexDirection="column"
        *ngIf="!loadinPageData_s && _userData"
    >
        <!-- Notice Board Section -->
        <FlexBoxLayout class="bg_forest" style="padding: 0 0 50 0;">
            <FlexBoxLayout flexDirection="column" class="m-l-20">
                <GridLayout rows="auto" columns="*, auto">
                    <FlexBoxLayout
                        flexDirection="column"
                        alignItems="flex-start"
                        class="m-t-20"
                        row="0"
                        col="0"
                    >
                        <TextField
                            class="t_white text-left"
                            [text]="_userData.name | uppercase"
                            style="
                                font-size: 22;
                                margin-left: -10;
                                padding-left: 10;
                                margin-bottom: -4;
                                border-width: 0;
                                background-color: transparent;
                                color: white;
                            "
                            width="100%"
                            isUserInteractionEnabled="false"
                        ></TextField>
                        <!-- <TextField
                            class="t_white text-left"
                            [text]="_userData.name"
                            style="font-size: 22; margin-left: -10; padding-left: 10; margin-bottom: -4;border-width: 0;background-color: transparent; color: white;"
                            width="100%"
                            *ngIf="editing"
                        ></TextField> -->
                        <label
                            class="t_white"
                            [text]="_userData.member_since"
                            style="font-size: 12;"
                            [textWrap]="true"
                        ></label>
                        <label class="t_orange m-b-5" style="font-size: 14;">
                            <FormattedString>
                                <span text="Total Earned Coins: "></span>
                                <span [text]="_userData.coins"></span>
                            </FormattedString>
                        </label>
                        <button
                            width="auto"
                            height="36"
                            text="Edit Profile"
                            style="
                                background-color: transparent;
                                border-color: white;
                                border-width: 2;
                                padding: 0 10;
                                margin: 0;
                                border-radius: 4;
                            "
                            class="t_white"
                            (tap)="enableEditing()"
                            *ngIf="!editing"
                        ></button>
                        <button
                            width="auto"
                            height="36"
                            text="Update Profile"
                            style="
                                background-color: transparent;
                                border-color: white;
                                border-width: 2;
                                padding: 0 10;
                                margin: 0;
                                border-radius: 4;
                            "
                            class="t_white"
                            (tap)="UpdateProfileAnddisableEditing()"
                            *ngIf="editing"
                            [isEnabled]="_formDataEntered"
                        ></button>
                    </FlexBoxLayout>

                    <!-- Profile Image Section -->
                    <FlexBoxLayout
                        flexDirection="column"
                        justifyContent="center"
                        alignItems="center"
                        class="m-r-30"
                        row="0"
                        col="1"
                    >
                        <!-- <image
                            [src]="user_img"
                            width="120"
                            height="120"
                            *ngIf="hasProfileImg"
                        ></image>
                        <label
                            text="&#xf007;"
                            class="fa text-center t_white"
                            width="120"
                            height="120"
                            style="font-size: 90;"
                            *ngIf="!hasProfileImg"
                        ></label>
                        <button
                            (tap)="uploadImg()"
                            text="Upload"
                            style="font-size: 12; margin: -14 0 0 0;"
                            class="text-uppercase"
                            *ngIf="editing"
                        ></button> -->
                    </FlexBoxLayout>
                </GridLayout>
                <FlexBoxLayout class="t_white m-t-20" style="font-size: 18;">
                    <label
                        text="Personal"
                        class="m-r-20"
                        borderBottomWidth="2"
                        borderColor="white"
                    ></label>
                    <!-- <label
                        text="Achievements"
                        class="m-r-20"
                        nsRouterLink="/user/achievements"
                    ></label> -->
                    <!-- <label
                        text="Security"
                        nsRouterLink="/user/security"
                    ></label> -->
                </FlexBoxLayout>
            </FlexBoxLayout>
        </FlexBoxLayout>

        <!-- Second Sectoion -->
        <FlexBoxLayout flexDirection="column" class="section_2_con">
            <FlexBoxLayout width="100%">
                <FlexBoxLayout width="50%" flexDirection="column">
                    <label
                        [textWrap]="true"
                        text="Account Name"
                        class="info_name"
                    ></label>
                    <label
                        [textWrap]="true"
                        [text]="_userData.name | uppercase"
                        class="info_value"
                        *ngIf="!editing"
                    ></label>
                    <TextField
                        [(ngModel)]="_newUpdatedUserData.name"
                        class="info_value"
                        [autocorrect]="false"
                        *ngIf="editing"
                    ></TextField>
                </FlexBoxLayout>

                <FlexBoxLayout width="50%" flexDirection="column">
                    <label
                        [textWrap]="true"
                        text="Wallet Balance"
                        class="info_name"
                    ></label>
                    <label
                        [textWrap]="true"
                        [text]="_userData.balance | number: '1.2'"
                        class="info_value"
                    ></label>
                </FlexBoxLayout>
            </FlexBoxLayout>
            <FlexBoxLayout width="100%" class="m-t-10">
                <FlexBoxLayout width="50%" flexDirection="column">
                    <label
                        [textWrap]="true"
                        text="Registered Mobile No."
                        class="info_name"
                    ></label>
                    <label
                        [textWrap]="true"
                        [text]="_userData.phone_number"
                        class="info_value"
                    ></label>
                </FlexBoxLayout>

                <FlexBoxLayout width="50%" flexDirection="column">
                    <label
                        [textWrap]="true"
                        text="Email Address"
                        class="info_name"
                    ></label>
                    <label
                        [textWrap]="true"
                        fontSize="13"
                        [text]="_userData.email"
                        class="info_value m-t-5"
                    ></label>
                </FlexBoxLayout>
            </FlexBoxLayout>
            <FlexBoxLayout width="100%" class="m-t-10">
                <FlexBoxLayout width="50%" flexDirection="column">
                    <label
                        [textWrap]="true"
                        text="City"
                        class="info_name"
                    ></label>
                    <label
                        [textWrap]="true"
                        [text]="_userData.city ? _userData.city : 'Not Entered'"
                        class="info_value"
                        *ngIf="!editing"
                    ></label>
                    <TextField
                        [(ngModel)]="_newUpdatedUserData.city"
                        class="info_value"
                        [autocorrect]="false"
                        *ngIf="editing"
                    ></TextField>
                </FlexBoxLayout>

                <FlexBoxLayout width="50%" flexDirection="column">
                    <label
                        [textWrap]="true"
                        text="Country"
                        class="info_name"
                    ></label>
                    <label
                        [textWrap]="true"
                        [text]="_userData.country ? _userData.country : 'Not Entered'"
                        class="info_value"
                        *ngIf="!editing"
                    ></label>
                    <TextField
                        [(ngModel)]="_newUpdatedUserData.country"
                        class="info_value"
                        [autocorrect]="false"
                        *ngIf="editing"
                    ></TextField>
                </FlexBoxLayout>
            </FlexBoxLayout>

            <!-- Prefered Payment Method EasyPaisa/Jazzcash Section -->

            <!-- <label class="hr m-y-10"></label> -->
            <!-- <label
                text="Preferred Payout Method"
                style="font-size: 16;"
                class="info_name"
            ></label> -->
            <!-- <FlexBoxLayout width="100%" class="m-t-15">
                <FlexBoxLayout width="38%" flexDirection="column" class="p-t-5">
                    <FlexBoxLayout alignItems="center">
                        <label
                            width="12"
                            height="12"
                            style="border-width: 2; border-color: black; padding: 0;"
                            [ngStyle]="{'background-color': !isJazzCashPreferred ? 'greenyellow' : 'white'}"
                            class="m-r-5"
                        ></label>
                        <label text="EasyPaisa" style="font-size: 16;"></label>
                    </FlexBoxLayout>
                    <FlexBoxLayout alignItems="center">
                        <label
                            width="12"
                            height="12"
                            style="border-width: 2; border-color: black; padding: 0;"
                            [ngStyle]="{'background-color': isJazzCashPreferred ? 'greenyellow' : 'white'}"
                            class="m-r-5"
                        ></label>
                        <label text="JazzCash" style="font-size: 16;"></label>
                    </FlexBoxLayout>
                </FlexBoxLayout>
                <FlexBoxLayout width="61%">
                    <label
                        text="Note: Easypaisa or Jazzcash accounts must be registered with the same mobile number as ClickPayed wallet account"
                        [textWrap]="true"
                        style="font-size: 14;"
                    ></label>
                </FlexBoxLayout>
            </FlexBoxLayout> -->

            <label class="hr m-y-10"></label>

            <!-- Referal Code Section -->
            <FlexBoxLayout
                width="100%"
                class="m-t-0"
                flexDirection="column"
                *ngIf="_userData.referal_code"
            >
                <label
                    class="body text-center"
                    width="100%"
                    style="font-size: 20;"
                >
                    <FormattedString>
                        <span
                            text="Referral Code | "
                            style="color: #bababa;"
                        ></span>
                        <span [text]="_userData.referal_code"></span>
                    </FormattedString>
                </label>
                <label
                    text="Get 5% instant commission on all referral deposits"
                    textWrap="true"
                    class="body text-center"
                    style="font-size: 12;"
                ></label>
            </FlexBoxLayout>

            <!-- <FlexBoxLayout
                width="100%"
                justifyContent="space-around"
                alignItems="center"
                class="m-t-5"
            >
                <FlexBoxLayout
                    width="48%"
                    justifyContent="space-around"
                    alignItems="center"
                    style="
                        border-width: 2;
                        border-color: rgba(0, 0, 0, 0.801);
                        border-radius: 4;
                    "
                    class="p-5"
                >
                    <image src="res://whatsapp" width="25" heigth="25"></image>
                    <label text="Invite Your Friends"></label>
                </FlexBoxLayout>

                <FlexBoxLayout
                    width="48%"
                    justifyContent="space-around"
                    alignItems="center"
                    style="
                        border-width: 2;
                        border-color: rgba(0, 0, 0, 0.801);
                        border-radius: 4;
                    "
                    class="p-5"
                >
                    <image src="res://whatsapp" width="25" heigth="25"></image>
                    <label text="Invite Your Friends"></label>
                </FlexBoxLayout>
            </FlexBoxLayout> -->
        </FlexBoxLayout>

        <!-- App Footer -->
        <!-- <app-footer
            [section_1]="false"
            [section_2]="false"
            [section_3]="false"
        ></app-footer> -->
    </FlexBoxLayout>
    <FlexBoxLayout
        justifyContent="center"
        alignItems="center"
        *ngIf="loadinPageData_s"
        height="100vh"
    >
        <ActivityIndicator busy="true"></ActivityIndicator>
    </FlexBoxLayout>
</ScrollView>
