/* Add mobile styles for the component here.  */
.section_2_con {
    padding: 30 20 30 20;
    margin: -30 20 0 20; 
    background-color: white;
    min-height: 200;
    border-width: 2;
    border-color: #bababa;
    border-radius: 30;
}
.info_name {
    font-size: 13;
    color: #bababa;
}
.info_value {
    font-size: 18;
}
TextField.info_value {
    font-size: 16;
    margin: 0;
    padding: 0;
    width: 94%;
}