<!--The content below is only a placeholder and can be replaced.-->
<app-action-bar
    title="ADMIN DASHBOARD"
    [hasMenu]="true"
    [showGoBackButton]="true"
    *ngIf="!loadinPageData_s"
></app-action-bar>
<app-action-bar
    [title]=""
    [hasMenu]="false"
    [showBackButton]="false"
    [showNotifications]="false"
    *ngIf="loadinPageData_s"
></app-action-bar>
<ScrollView>
    <FlexBoxLayout flexDirection="column" *ngIf="!loadinPageData_s">
        <!-- Notice Board Section -->
        <label
            text="ADMIN DASHBOARD"
            class="h3 p-10 m-b-0 text-center text-uppercase"
            letterSpacing=".2"
            style="background: black; color: white; margin: 0;"
        ></label>

        <FlexBoxLayout justifyContent="center" alignItems="center" width="100%">
            <FlexBoxLayout
                flexDirection="column"
                width="48%"
                justifyContent="center"
                alignItems="center"
            >
                <button
                    text="MAKE A DEPOSIT"
                    height="44"
                    width="96%"
                    class="bg_forest t_white"
                    style="border-radius: 6; border-width: 1;"
                    nsRouterLink="/admin/make-deposit"
                    pageTransition="slide"
                ></button>
                <button
                    text="SET NEW RULES"
                    height="44"
                    width="96%"
                    class="bg_forest t_white"
                    style="border-radius: 6; border-width: 1;"
                    nsRouterLink="/admin/set-rules"
                    pageTransition="slide"
                    *ngIf="_isAdmin"
                ></button>
                <button
                    text="USER LIST"
                    height="44"
                    width="96%"
                    class="bg_forest t_white"
                    style="border-radius: 6; border-width: 1;"
                    nsRouterLink="/admin/user-list"
                    pageTransition="slide"
                    *ngIf="_isAdmin"
                ></button>
                <button
                    text="ENGAGERS LIST"
                    height="44"
                    width="96%"
                    class="bg_forest t_white"
                    style="border-radius: 6; border-width: 1;"
                    nsRouterLink="/admin/engagers-list"
                    pageTransition="slide"
                    *ngIf="_isAdmin"
                ></button>
            </FlexBoxLayout>
            <FlexBoxLayout
                flexDirection="column"
                width="48%"
                justifyContent="center"
                alignItems="center"
            >
                <button
                    text="PROCESS WITHRAWALS"
                    height="44"
                    width="96%"
                    class="bg_forest t_white"
                    style="border-radius: 6; border-width: 1;"
                    nsRouterLink="/admin/process-withdrawals"
                    pageTransition="slide"
                ></button>
                <button
                    text="CREATE NOTIFICATION"
                    height="44"
                    width="96%"
                    class="bg_forest t_white"
                    style="border-radius: 6; border-width: 1;"
                    nsRouterLink="/admin/create-notification"
                    pageTransition="slide"
                    *ngIf="_isAdmin"
                ></button>
                <button
                    text="NOTICE BOARD"
                    height="44"
                    width="96%"
                    class="bg_forest t_white"
                    style="border-radius: 6; border-width: 1;"
                    nsRouterLink="/admin/notice-board"
                    pageTransition="slide"
                    *ngIf="_isAdmin"
                ></button>
                <button
                    text="COMPATIBLE GAMES"
                    height="44"
                    width="96%"
                    class="bg_forest t_white"
                    style="border-radius: 6; border-width: 1;"
                    nsRouterLink="/compatible-games"
                    pageTransition="slide"
                    *ngIf="_isAdmin"
                ></button>
            </FlexBoxLayout>
        </FlexBoxLayout>

        <FlexBoxLayout
            justifyContent="center"
            alignItems="center"
            width="100%"
            flexDirection="column"
        >
            <!-- Total Deposits Row -->
            <FlexBoxLayout
                flexDirection="row"
                width="96%"
                class="m-b-5"
                justifyContent="center"
                alignItems="center"
                *ngIf="totalDeposit"
                style="
                    border-width: 2;
                    border-color: black;
                    border-radius: 8;
                    padding: 0 6;
                "
            >
                <FlexBoxLayout
                    justifyContent="center"
                    alignItems="center"
                    width="50%"
                ></FlexBoxLayout>
                <FlexBoxLayout
                    justifyContent="center"
                    alignItems="center"
                    width="50%"
                    flexDirection="column"
                >
                    <label
                        text="Total Deposits"
                        width="100%"
                        class="text-right t_black"
                        style="font-size: 14;"
                    ></label>
                    <label
                        width="100%"
                        class="t_forest text-right"
                        style="font-size: 20;"
                    >
                        <FormattedString>
                            <span text="PKR "></span>
                            <span [text]="totalDeposit | number"></span>
                        </FormattedString>
                    </label>
                    <label
                        text="Show Details"
                        class="t_blue text-right"
                        width="100%"
                        style="font-size: 12;"
                    ></label>
                </FlexBoxLayout>
            </FlexBoxLayout>

            <!-- Total Withdrawals Row -->
            <FlexBoxLayout
                flexDirection="row"
                width="96%"
                class="m-b-5"
                justifyContent="center"
                alignItems="center"
                *ngIf="totalWithDrawal"
                style="
                    border-width: 2;
                    border-color: black;
                    border-radius: 8;
                    padding: 0 6;
                "
            >
                <FlexBoxLayout
                    justifyContent="center"
                    alignItems="center"
                    width="50%"
                ></FlexBoxLayout>
                <FlexBoxLayout
                    justifyContent="center"
                    alignItems="center"
                    width="50%"
                    flexDirection="column"
                >
                    <label
                        text="Total Withdrawals"
                        width="100%"
                        class="text-right t_black"
                        style="font-size: 14;"
                    ></label>
                    <label
                        width="100%"
                        class="t_red text-right"
                        style="font-size: 20;"
                    >
                        <FormattedString>
                            <span text="PKR "></span>
                            <span [text]="totalWithDrawal | number"></span>
                        </FormattedString>
                    </label>
                    <label
                        text="Show Details"
                        class="t_blue text-right"
                        width="100%"
                        style="font-size: 12;"
                    ></label>
                </FlexBoxLayout>
            </FlexBoxLayout>

            <!-- Total Coins Converted Row -->
            <FlexBoxLayout
                flexDirection="row"
                width="96%"
                class="m-b-5"
                justifyContent="center"
                alignItems="center"
                style="
                    border-width: 2;
                    border-color: black;
                    border-radius: 8;
                    padding: 0 6;
                "
                *ngIf="totalCoinsConverted"
            >
                <FlexBoxLayout
                    justifyContent="center"
                    alignItems="center"
                    width="50%"
                ></FlexBoxLayout>
                <FlexBoxLayout
                    justifyContent="center"
                    alignItems="center"
                    width="50%"
                    flexDirection="column"
                >
                    <label
                        text="Total Coins Converted"
                        width="100%"
                        class="text-right t_black"
                        style="font-size: 14;"
                    ></label>
                    <label
                        [text]="totalCoinsConverted | number"
                        width="100%"
                        class="t_gold text-right"
                        style="font-size: 20;"
                    ></label>
                    <label
                        text="Show Details"
                        class="t_blue text-right"
                        width="100%"
                        style="font-size: 12;"
                    ></label>
                </FlexBoxLayout>
            </FlexBoxLayout>

            <!-- Total Coins Redeemed Row -->
            <FlexBoxLayout
                flexDirection="row"
                width="96%"
                class="m-b-5"
                justifyContent="center"
                alignItems="center"
                style="
                    border-width: 2;
                    border-color: black;
                    border-radius: 8;
                    padding: 0 6;
                "
                *ngIf="totalCoinsRedeemed"
            >
                <FlexBoxLayout
                    justifyContent="center"
                    alignItems="center"
                    width="50%"
                ></FlexBoxLayout>
                <FlexBoxLayout
                    justifyContent="center"
                    alignItems="center"
                    width="50%"
                    flexDirection="column"
                >
                    <label
                        text="Total Coins Redeemed"
                        width="100%"
                        class="text-right t_black"
                        style="font-size: 14;"
                    ></label>
                    <label
                        [text]="totalCoinsRedeemed | number"
                        width="100%"
                        class="t_gold text-right"
                        style="font-size: 20;"
                    ></label>
                    <label
                        text="Show Details"
                        class="t_blue text-right"
                        width="100%"
                        style="font-size: 12;"
                    ></label>
                </FlexBoxLayout>
            </FlexBoxLayout>

            <!-- Total Coins In Circulation Row -->
            <FlexBoxLayout
                flexDirection="row"
                width="96%"
                class="m-b-5"
                justifyContent="center"
                alignItems="center"
                style="border-width: 2; border-color: black; border-radius: 8; padding: 0 6;"
                *ngIf="totalCoinsInCirculation"
            >
                <FlexBoxLayout
                    justifyContent="center"
                    alignItems="center"
                    width="50%"
                ></FlexBoxLayout>
                <FlexBoxLayout
                    justifyContent="center"
                    alignItems="center"
                    width="50%"
                    flexDirection="column"
                >
                    <label
                        text="Total Coins in Circulation"
                        width="100%"
                        class="text-right t_black"
                        style="font-size: 14;"
                    ></label>
                    <label
                        [text]="totalCoinsInCirculation | number"
                        width="100%"
                        class="t_gold text-right"
                        style="font-size: 20;"
                    ></label>
                    <label
                        text="Show Details"
                        class="t_blue text-right"
                        width="100%"
                        style="font-size: 12;"
                    ></label>
                </FlexBoxLayout>
            </FlexBoxLayout>

            <!-- Total Wallet Users Row -->
            <FlexBoxLayout
                flexDirection="row"
                width="96%"
                class="m-b-5"
                justifyContent="center"
                alignItems="center"
                style="
                    border-width: 2;
                    border-color: black;
                    border-radius: 8;
                    padding: 0 6;
                "
                *ngIf="totalwalletusers"
            >
                <FlexBoxLayout
                    justifyContent="center"
                    alignItems="center"
                    width="50%"
                ></FlexBoxLayout>
                <FlexBoxLayout
                    justifyContent="center"
                    alignItems="center"
                    width="50%"
                    flexDirection="column"
                >
                    <label
                        text="Total Wallet Users"
                        width="100%"
                        class="text-right t_black"
                        style="font-size: 14;"
                    ></label>
                    <label
                        [text]="totalwalletusers | number"
                        width="100%"
                        class="t_forest text-right"
                        style="font-size: 20;"
                    ></label>
                    <label
                        text="Show Details"
                        class="t_blue text-right"
                        width="100%"
                        style="font-size: 12;"
                    ></label>
                </FlexBoxLayout>
            </FlexBoxLayout>
        </FlexBoxLayout>

        <!-- App Footer -->
        <!-- <app-footer [section_1]="false"></app-footer> -->
    </FlexBoxLayout>
    <FlexBoxLayout
        justifyContent="center"
        alignItems="center"
        *ngIf="loadinPageData_s"
        height="100vh"
    >
        <ActivityIndicator busy="true"></ActivityIndicator>
    </FlexBoxLayout>
</ScrollView>
