<!--The content below is only a placeholder and can be replaced.-->
<app-action-bar
    title="New Notification"
    [hasMenu]="true"
    [showGoBackButton]="true"
    [isAdminPanel]="true"
></app-action-bar>
<ScrollView>
    <FlexBoxLayout
        flexDirection="column"
        justifyContent="flex-start"
        alignItems="center"
    >
        <!-- Notice Board Section -->
        <label
            [text]="notification.title"
            class="h3 p-10 m-b-0 text-center text-uppercase"
            letterSpacing=".2"
            style="background: black; color: white;margin: 0;"
            width="100%"
            *ngIf="notification.title"
        ></label>

        <!-- Section # 1 -->
        <FlexBoxLayout
            width="94%"
            flexDirection="column"
            justifyContent="space-around"
            alignItems="center"
        >
            <!-- Notification Image Container -->
            <FlexBoxLayout
                width="330"
                height="330"
                class="bg_grey"
                style="border-width: 2; border-color: black; margin: 10 0;"
                justifyContent="center"
                alignItems="center"
                *ngIf="notification.img"
            >
                <image [src]="notification.img" stretch="aspectFill"></image>
            </FlexBoxLayout>

            <label
                [text]="notification.content"
                textWrap="true"
                class="text-center body"
                style="font-size: 14; margin: 0 0 20 0;"
                width="84%"
                *ngIf="notification.content"
            ></label>
        </FlexBoxLayout>

        <!-- Download Button Con -->
        <button
            text="DOWNLOAD NOW"
            class="bg_green t_white"
            style="font-size: 12;padding: 4 30; border-radius: 4;height: 40;"
            width="60%"
            (tap)="openDownloadLink()"
            style="margin: 0 0 20 0;"
            *ngIf="notification.link"
        ></button>

        <label
            [text]="notification.date_time"
            textWrap="true"
            class="text-center body"
            style="font-size: 14;"
            width="84%"
        ></label>
        <!-- App Footer -->
        <!-- <app-footer [section_1]="false"></app-footer> -->
    </FlexBoxLayout>
</ScrollView>
