/* Add mobile styles for the component here.  */
.request_show_more_btn {
    color: white;
}
.request_show_more_btn.bg_orange {
    padding: 0 22;
}

.request_show_more_btn.bg_red {
    padding: 0 19.7;
}

.request_show_more_btn.bg_green {
    padding: 0 16.4;
}