<!--The content below is only a placeholder and can be replaced.-->
<app-action-bar
    title="Transfer Coins"
    [hasMenu]="true"
    [showGoBackButton]="true"
    *ngIf="!loadinPageData_s"
></app-action-bar>
<app-action-bar
    [title]=""
    [hasMenu]="false"
    [showBackButton]="false"
    [showNotifications]="false"
    *ngIf="loadinPageData_s"
></app-action-bar>
<ScrollView>
    <FlexBoxLayout flexDirection="column" *ngIf="!loadinPageData_s">
        <!-- Notice Board Section -->
        <label
            text="Transfer Coins"
            class="h3 p-10 m-b-0 text-center text-uppercase"
            letterSpacing=".2"
            style="background: black; color: white; margin: 0;"
        ></label>
        <label
            text="TRANSFER DETAILS"
            class="h4 p-10 m-b-0 text-center text-uppercase bg_forest font-weight-bold"
            style="color: white;"
        ></label>
        <!-- Coin Part Section -->
        <FlexBoxLayout
            width="100%"
            justifyContent="space-around"
            style="margin: 20 0 10 0;"
        >
            <FlexBoxLayout
                width="94%"
                justifyContent="center"
                alignItems="center"
                flexDirection="column"
            >
                <FlexBoxLayout
                    width="100%"
                    justifyContent="space-around"
                    alignItems="center"
                    flexDirection="column"
                >
                    <TextField
                        #coinsToTransfer
                        hint="Enter Number of Coins (Min 100)"
                        [(ngModel)]="coins_to_transfer"
                        width="65%"
                        style="border-width: 2; border-radius: 4;"
                        class="text-center body p-10"
                        keyboardType="phone"
                    ></TextField>
                    <label
                        text="Enter the number of coins you wish to transfer"
                        [textWrap]="true"
                        width="100%"
                        class="text-center"
                        marginTop="-20"
                    ></label>
                </FlexBoxLayout>
                <FlexBoxLayout
                    width="100%"
                    justifyContent="space-around"
                    alignItems="center"
                    flexDirection="column"
                    marginTop="10"
                >
                    <TextField
                        hint="Registered Mobile Number"
                        [(ngModel)]="reciver_number"
                        width="65%"
                        style="border-width: 2; border-radius: 4;"
                        class="text-center body p-10"
                        keyboardType="phone"
                        maxLength="11"
                        [isUserInteractionEnabled]="!userFound"
                    ></TextField>
                    <label
                        text="Enter a ClickPayed registered mobile number"
                        [textWrap]="true"
                        width="100%"
                        class="text-center"
                        marginTop="-20"
                    ></label>
                </FlexBoxLayout>
            </FlexBoxLayout>
        </FlexBoxLayout>

        <FlexBoxLayout
            width="100%"
            justifyContent="space-around"
            style="margin: 10 0 5 0;"
            *ngIf="!userFound"
        >
            <button
                text="SEARCH"
                fontSize="14"
                borderRadius="4"
                class="bg_forest t_white p-t-0 p-b-0 p-l-20 p-r-20"
                (tap)="searchPerson()"
                width="60%"
                *ngIf="!searchForPerson"
                [isEnabled]="_reciver_number_added"
            ></button>
            <ActivityIndicator
                [busy]="true"
                *ngIf="searchForPerson"
            ></ActivityIndicator>
        </FlexBoxLayout>

        <FlexBoxLayout
            width="100%"
            justifyContent="space-around"
            style="margin: 15 0 20 0;"
        >
            <FlexBoxLayout
                width="94%"
                justifyContent="center"
                alignItems="center"
                flexDirection="column"
            >
                <FlexBoxLayout
                    width="100%"
                    justifyContent="space-around"
                    alignItems="center"
                    flexDirection="column"
                >
                    <label
                        [text]="reciverName"
                        width="64%"
                        style="border-width: 2; border-radius: 4;"
                        class="text-center bg_grey body p-10"
                    ></label>
                </FlexBoxLayout>
            </FlexBoxLayout>
        </FlexBoxLayout>

        <FlexBoxLayout
            width="100%"
            justifyContent="space-around"
            style="margin: 0 0 5 0;"
        >
            <button
                text="TRANSFER COINS"
                (tap)="transferCoins()"
                fontSize="14"
                width="60%"
                borderRadius="4"
                class="bg_green t_white p-0"
                *ngIf="!formSubmited"
                [isEnabled]="userFound && coinsEntered"
            ></button>
            <ActivityIndicator
                [busy]="true"
                *ngIf="formSubmited"
            ></ActivityIndicator>
        </FlexBoxLayout>
        <label
            [text]="remaining_coins"
            fontSize="14"
            width="60%"
            marginBottom="25"
            borderRadius="4"
            class="text-center"
        ></label>

        <!-- App Footer -->
        <app-footer [section_1]="false"></app-footer>
    </FlexBoxLayout>
    <FlexBoxLayout
        justifyContent="center"
        alignItems="center"
        *ngIf="loadinPageData_s"
        height="100vh"
    >
        <ActivityIndicator busy="true"></ActivityIndicator>
    </FlexBoxLayout>
</ScrollView>
