<!--The content below is only a placeholder and can be replaced.-->
<app-action-bar
  title="Request Widtdrawal"
  [hasMenu]="true"
  [showBackButton]="false"
  [showNotifications]="true"
  *ngIf="!loadinPageData_s"
></app-action-bar>
<app-action-bar
  [title]=""
  [hasMenu]="false"
  [showBackButton]="false"
  [showNotifications]="false"
  *ngIf="loadinPageData_s"
></app-action-bar>
<ScrollView>
  <FlexBoxLayout flexDirection="column" justifyContent="center" *ngIf="!loadinPageData_s">
    <!-- Notice Board Section -->
    <label
      text="Request A Widtdrawal"
      class="h3 p-10 m-b-0 text-center text-uppercase"
      letterSpacing=".2"
      style="background: black; color: white;"
    ></label>
    <FlexBoxLayout
      flexDirection="column"
      justifyContent="center"
      alignItems="center"
      class="p-t-10 p-b-15"
    >
      <label
        text="Choose an Amount to Withdraw"
        style="font-weight: 700;"
        class="h3"
      ></label>
      <label text="You can only make a withdrawal in multiples of 100."></label>
      <label text="For Example 100, 200, 300, 400, 500 etc."></label>
    </FlexBoxLayout>
    <!-- <label
      text="ENTER AMOUNT TO PURCHASE COINS"
      class="h4 p-10 m-b-0 text-center text-uppercase bg_forest font-weight-bold"
      style="color: white;"
    ></label> -->
    <!-- Coin Part Section -->
    <FlexBoxLayout
      width="100%"
      justifyContent="space-around"
      style="margin: 0 0 2 0;"
    >
      <FlexBoxLayout width="94%" justifyContent="center" alignItems="center">
        <DropDown
          #dropdow
          width="70%"
          height="50"
          class="text-center"
          itemsTextAlignment="center"
          [items]="items"
          [(ngModel)]="selectedIndex"
          (selectedIndexChanged)="onchange($event)"
          (opened)="onopen()"
          (closed)="onclose()"
          hint="Select Amount"
          style="border-width: 2;border-color: black;padding: 8 0 0 0;margin: 0;background-color: white;border-radius: 4;font-size: 14;"
        ></DropDown>
        <label text="ˇ" style="font-size: 40; margin: 15 0 0 -30;"></label>
      </FlexBoxLayout>
    </FlexBoxLayout>

    <label
      [text]="remaining_balance"
      fontSize="14"
      width="60%"
      marginTop="0"
      marginBottom="15"
      borderRadius="4"
      class="text-center body"
    ></label>
    <FlexBoxLayout justifyContent="center" alignItems="center" width="100%">
      <label
        text="ClickPayed charges a service fee of 20% on all withdrawal requests."
        [textWrap]="true"
        width="92%"
        alignItem="center"
        marginBottom="6"
        class="t_red text-center body"
        style="font-size: 11;"
      ></label>
    </FlexBoxLayout>
    <FlexBoxLayout
      width="100%"
      justifyContent="space-around"
      alignItems="center"
      style="margin: 0 0 0 0;"
    >
      <button
        text="SUBMIT WITHDRAWAL REQUEST"
        fontSize="14"
        width="60%"
        height="40"
        borderRadius="4"
        class="bg_green t_white p-0"
        *ngIf="!_formSubmited"
        [isEnabled]="_formDataEnteredStatus"
        (tap)="submitForm()"
      ></button>
      <ActivityIndicator busy="true" *ngIf="_formSubmited"></ActivityIndicator>
    </FlexBoxLayout>
    <FlexBoxLayout width="100%" flexDirection="column" justifyContent="center" alignItems="center">
      <label
        text="All withdrawal requests will be credited to your preferred payout account. You can change your preferred payout account from your profile page"
        class="body text-center"
        width="86%"
        [textWrap]="true"
        style="font-size: 12;line-height: 4; margin: 14 0 0 0;"
      ></label>
    </FlexBoxLayout>

    <!-- App Footer -->
    <app-footer [section_1]="true"></app-footer>
  </FlexBoxLayout>
  <FlexBoxLayout
      justifyContent="center"
      alignItems="center"
      *ngIf="loadinPageData_s"
      height="100vh"
  >
      <ActivityIndicator busy="true"></ActivityIndicator>
  </FlexBoxLayout>
</ScrollView>
