<app-action-bar
    title="Reset Password"
    [showGoBackButton]="false"
    [hasMenu]="false"
></app-action-bar>
<ScrollView>
    <FlexboxLayout
        class="main_con"
        flexDirection="column"
        justifyContent="center"
        alignItems="center"
    >
        <StackLayout class="text-center m-b-20">
            <label class="h1 t_white" text="Reset Password"></label>
            <label
                class="h3 t_white"
                text="Enter your eWallet Account Email to get Reset Password Link."
                textWrap="true"
                width="90%"
            ></label>
        </StackLayout>
        <StackLayout class="nt-form">
            <TextField
                width="80%"
                class="ok -border m-b-0"
                style="placeholder-color: rgba(255, 255, 255);"
                [(ngModel)]="email"
                [autocorrect]="false"
                ReturnKeyType="next"
                textAlignment="center"
                hint="Enter Email"
                autocapitalizationType="none"
                autocorrect="false"
            ></TextField>
            <button
                width="80%"
                *ngIf="!formSubmited"
                text="Submit"
                class="-primary m-t-0"
                [disabled]="email == null ? false : true"
                (tap)="submit()"
            ></button>
            <ActivityIndicator
                [busy]="true"
                *ngIf="formSubmited"
            ></ActivityIndicator>
        </StackLayout>
        <GridLayout rows="auto" columns="auto,auto">
            <label
                class="body t_white text-right m-r-5"
                row="0"
                col="0"
                text="Signin into your eWallet account"
            ></label>
            <label
                class="body t_orange text-left"
                row="0"
                col="1"
                text="Here"
                (tap)="signInPage()"
            ></label>
        </GridLayout>
    </FlexboxLayout>
</ScrollView>
