<app-action-bar title="Reset Password" [showGoBackButton]="false" [hasMenu]="false"></app-action-bar>
<ScrollView>
    <FlexboxLayout class="main_con" flexDirection="column" justifyContent="center" alignItems="center">
        <StackLayout class="text-center m-b-20">
            <Label class="h1 t_white" text="Reset Password"></Label>
            <Label class="h3 t_white" text="Enter your eWallet Account Email to get Reset Password Link." textWrap="true"
                width="90%"></Label>
        </StackLayout>
        <StackLayout class="nt-form">
            <TextField width="80%" class="ok -border m-b-0" style="placeholder-color:rgba(255,255,255)" [(ngModel)]="email" [autocorrect]="false" ReturnKeyType="next"
                textAlignment="center" hint="Enter Email"></TextField>
            <Button width="80%" *ngIf="!formSubmited" text="Submit" class="-primary m-t-0" [disabled]="email == null ? false : true" (tap)="submit()"></Button>
            <ActivityIndicator [busy]='true' *ngIf="formSubmited"></ActivityIndicator>
        </StackLayout>
        <GridLayout rows="auto" columns="auto,auto">
            <Label class="body t_white text-right m-r-5" row="0" col="0" text="Signin into your eWallet account"></Label>
            <Label class="body t_orange text-left" row="0" col="1" text="Here" (tap)="signInPage()"></Label>
        </GridLayout>
    </FlexboxLayout>
</ScrollView>