<app-action-bar
    title="Sign In"
    [showGoBackButton]="false"
    [hasMenu]="false"
></app-action-bar>
<ScrollView>
    <FlexboxLayout
        class="main_con"
        flexDirection="column"
        justifyContent="flex-start"
        alignItems="center"
        style="padding: 80 0 0 0;"
    >
        <StackLayout class="text-center m-b-20">
            <label class="h1 t_white" text="Sign In"></label>
            <label class="h3 t_white" text="to your eWallet account"></label>
        </StackLayout>
        <StackLayout class="nt-form" *ngIf="!usePinLogin">
            <label
                width="80%"
                class="h4 text-center t_red"
                [text]="errorMessage"
                *ngIf="errorOccured"
            ></label>
            <TextField
                width="80%"
                class="ok t_white -border"
                [autocorrect]="false"
                textAlignment="center"
                hint="Registered Mobile Number"
                style="placeholder-color: rgba(255, 255, 255);"
                [(ngModel)]="user_number"
                autocapitalizationType="none"
                keyboardType="phone"
                maxLength="11"
                autocorrect="false"
            ></TextField>
            <TextField
                width="80%"
                class="input t_white -border"
                hint="Enter Password"
                textAlignment="center"
                ReturnKeyType="done"
                style="placeholder-color: rgba(255, 255, 255);"
                [(ngModel)]="user_password"
                autocapitalizationType="none"
                autocorrect="false"
            ></TextField>
            <button
                text="Sign In"
                width="80%"
                *ngIf="!formSubmited"
                class="-primary"
                (tap)="signInAction()"
                [isEnabled]="userDataEntered"
                style="font-size: 18;"
            ></button>
            <ActivityIndicator
                [busy]="true"
                *ngIf="formSubmited"
            ></ActivityIndicator>
        </StackLayout>
        <StackLayout class="nt-form" *ngIf="usePinLogin">
            <TextField
                width="80%"
                maxLength="5"
                minLength="5"
                keyboardType="phone"
                [(ngModel)]="loginPin"
                class="ok t_white -border"
                [autocorrect]="false"
                ReturnKeyType="next"
                textAlignment="center"
                hint="Enter 5-digit Pin"
                style="placeholder-color: rgba(255, 255, 255);"
                autocapitalizationType="none"
                autocorrect="false"
            ></TextField>
            <button
                text="Login"
                width="80%"
                *ngIf="!formSubmited"
                class="-primary"
                [isEnabled]="loginPinLength"
                (tap)="verifyPinLogin()"
            ></button>
            <ActivityIndicator
                [busy]="true"
                *ngIf="formSubmited"
            ></ActivityIndicator>
        </StackLayout>
        <!-- <GridLayout rows="auto" columns="auto,auto">
            <Label class="body t_white text-right m-r-5" row="0" col="0" text="Forgot Password?"></Label>
            <Label class="body t_orange text-left" row="0" col="1" text="Click Here" (tap)="forgotPasswordPage()"></Label>
        </GridLayout> -->
        <label class="body t_white" text="Don't have a account?"></label>
        <GridLayout rows="auto" columns="auto,auto">
            <label
                class="body t_white text-right m-r-5"
                row="0"
                col="0"
                text="Signup for new eWallet account"
            ></label>
            <label
                class="body text-left"
                row="0"
                col="1"
                text="Here"
                (tap)="signUpPage()"
                style="color: chartreuse;"
            ></label>
        </GridLayout>
    </FlexboxLayout>
</ScrollView>
