/* Add mobile styles for the component here.  */
.selected {
    background-color: rgb(255, 238, 0);
}
.all_games_con {
    padding: 10 8 4 8;
    background-color: white;
}
.game_con {
    margin: 0 auto;
    padding: 0;
    width: 50%;
    background-color: white;
    border-width: 2;
}
.game_inner_con {
    background-color: white;
    padding: 4;
}
.game_name {
    font-size: 14;
}
.gmae_btn {
    font-size: 11;
}