<!--The content below is only a placeholder and can be replaced.-->
<app-action-bar
    title="Top Up Your Wallet"
    [hasMenu]="true"
    [showGoBackButton]="true"
></app-action-bar>
<ScrollView>
    <FlexBoxLayout flexDirection="column">
        <!-- Notice Board Section -->
        <label
            text="Top Up Your Wallet"
            class="h3 p-10 m-b-0 text-center text-uppercase"
            letterSpacing=".2"
            style="background: black; color: white;"
        ></label>
        <FlexBoxLayout
            flexDirection="column"
            justifyContent="center"
            alignItems="center"
            width="100%"
            class="p-t-10 p-b-5"
        >
            <!-- <Label text=" ClickPayed wallet" [textWrap]="true" class="text-center" width="90%" style="font-size: 12;"></Label> -->
            <label
                class="p-8"
                style="font-size: 12;"
                class="color_text"
                [textWrap]="true"
            >
                <FormattedString>
                    <span
                        fontSize="14"
                        text="Click the button below to see the available deposit accounts"
                        class=""
                    ></span>
                </FormattedString>
            </label>
            <button
                text="VIEW AVAILABLE ACCOUNTS"
                class="bg_black t_white"
                width="60%"
                (tap)="openAvailableAccountsPopup()"
            ></button>
        </FlexBoxLayout>
        <label
            text="Enter Deposited Transaction Detail"
            class="h5 p-10 m-b-0 text-center text-uppercase bg_forest font-weight-bold"
            style="color: white;"
        ></label>
        <!-- Coin Part Section -->
        <FlexBoxLayout
            width="100%"
            justifyContent="space-around"
            style="margin: 0 0 0 0;"
        >
            <FlexBoxLayout
                width="94%"
                justifyContent="center"
                alignItems="center"
                flexDirection="column"
            >
                <FlexBoxLayout
                    width="98%"
                    justifyContent="center"
                    alignItems="center"
                    class="p-l-5 m-t-15"
                    flexDirection="column"
                >
                    <DropDown
                        #dropdow
                        width="70%"
                        height="50"
                        class="text-center"
                        itemsTextAlignment="center"
                        [items]="items"
                        [(ngModel)]="selectedIndex"
                        (selectedIndexChanged)="onchange($event)"
                        (opened)="onopen()"
                        (closed)="onclose()"
                        hint="Choose Payment Processor"
                        style="
                            border-width: 2;
                            border-color: black;
                            padding: 8 0 0 0;
                            margin: 0;
                            background-color: white;
                            border-radius: 4;
                            font-size: 12;
                            color: gray;
                        "
                    ></DropDown>
                    <TextField
                        width="70%"
                        height="50"
                        hint="Enter Transaction No."
                        [(ngModel)]="_trxID"
                        class="-border text-center"
                        keyboardType="phone"
                        style="border-color: black; border-width: 2;margin: 16 0 0 0;color: gray;"
                    ></TextField>
                    <TextField
                        width="70%"
                        height="50"
                        hint="Enter Deposited Amount"
                        [(ngModel)]="_depositedAmount"
                        class="-border text-center"
                        keyboardType="phone"
                        style="border-color: black; border-width: 2;margin: 16 0 0 0;color: gray;"
                    ></TextField>
                    <button
                        width="72%"
                        text="SUBMIT DEPOSITED TRANSACTION"
                        class="bg_green t_white"
                        style="padding: 0 10;"
                        [isEnabled]="_formDataEnteredStatus"
                        (tap)="submitTopupRequest()"
                        *ngIf="!_formSubmited"
                    ></button>
                    <ActivityIndicator busy="true" *ngIf="_formSubmited"></ActivityIndicator>
                    <label text="Still confused about how to make your deposit request?" textWrap="true"></label>
                    <Label text="Click Here" (tap)="openDetailPopup()" style="font-size: 14;" class="t_blue"></Label>
                </FlexBoxLayout>

                <FlexBoxLayout
                    width="98%"
                    justifyContent="center"
                    alignItems="center"
                    class="p-l-5 m-t-15"
                >
                    <FlexBoxLayout
                        width="48%"
                        justifyContent="center"
                        alignItems="center"
                        flexDirection="column"
                        class="p-l-5"
                    >
                        <button
                            (tap)="openEasypaisaAppURL()"
                            width="100%"
                            height="40"
                            text="Get EasyPaisa App"
                            style="font-size: 12; border-radius: 8;"
                            class="bg_black t_white"
                        ></button>
                    </FlexBoxLayout>
                    <!-- <FlexBoxLayout
                        width="48%"
                        justifyContent="center"
                        alignItems="center"
                        flexDirection="column"
                        class="p-l-5"
                    >
                        <button
                            (tap)="openJazzcashAppURL()"
                            width="100%"
                            height="40"
                            text="Get EasyPaisa App"
                            style="font-size: 12; border-radius: 8;"
                            class="bg_black t_white"
                        ></button>
                    </FlexBoxLayout> -->
                </FlexBoxLayout>
            </FlexBoxLayout>
        </FlexBoxLayout>

        <!-- App Footer -->
        <app-footer [section_1]="false"></app-footer>
    </FlexBoxLayout>
</ScrollView>
