// Pre-Defined Theme
@import "~@nativescript/theme/core";
// @import '~@nativescript/theme/aqua';
// @import '~@nativescript/theme/blue';
// @import '~@nativescript/theme/brown';
@import '~@nativescript/theme/forest';
// @import '~@nativescript/theme/grey';
// @import '~@nativescript/theme/lemon';
// @import '~@nativescript/theme/lime';
// @import '~@nativescript/theme/orange';
// @import '~@nativescript/theme/purple';
// @import '~@nativescript/theme/ruby';
// @import '~@nativescript/theme/sky';

// following if you need custom theme
// /* Colors */
// $accent: #369;

// /* This color was named $ab-background in Theme v1 */
// $complementary: red;

// /* The variables are loaded before the Core styles */
// @import '~@nativescript/theme/index';

// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.


// App Text Font
Label, Button, FlexBoxLayout, GridLayout, StackLayout, ScrollLayout, AbsoluteLayout, * {
    font-family: bahnschrift, "bahnschrift.ttf", "bahnschrift";
}

// Font icon class
.fab {
    font-family: "Font Awesome 5 Brands", "fa-brands-400";
    font-weight: 400;
}

.fas {
    font-family: "Font Awesome 5 Free", "fa-solid-900";
    font-weight: 900;
}

.far {
    font-family: "Font Awesome 5 Free", "fa-regular-400";
    font-weight: 400;
}
.fa {
    font-family: 'FontAwesome', 'Font-Awesome';
}


// General Classes

.bg_forest {
    background-color: #0D4C43;
}
.bg_green {
    background-color: #289E46;
}
.bg_red {
    background-color: red;
}
.bg_orange {
    background-color: #D6A300;
}
.bg_grey {
    background-color: lightgray;
}
.t_white {
    color: white;
}
.t_red {
    color: red;
}
.t_green {
    color: greenyellow;
}
.t_black {
    color: black;
}
.t_gold {
    color: gold;
}
.t_blue {
    color: #0E6FC0;
}
.t_brown {
    color: #7F5F00;
}
.t_orange {
    color: #D6A300;
}