<ActionBar
  [title]="title"
  class="action-bar p-r-10"
  (loaded)="onLoaded()"
  icon=""
>
  <!-- <NavigationButton
    text=""
    android.systemIcon="ic_menu_back"
    *ngIf="canGoBack"
    (tap)="onGoBack()"
  >
  </NavigationButton> -->
  <StackLayout
    orientation="horizontal"
    ios:horizontalAlignment="center"
    android:horizontalAlignment="left"
  >
    <image src="res://icon" class="action-image" width="80" height="80"></image>
    <FlexBoxLayout
      flexDirection="column"
      style="border-left-width: 2; padding: 0 0 0 10; margin: 0 0 0 10;"
    >
      <label
        text="Available Balance"
        class="t_blue"
        style="margin: 0 0 -15 0;"
      ></label>
      <label
        text="PKR 2000"
        class="t_black"
        style="margin: -10 0 -22 0;font-size: 16;font-weight: 600;"
      ></label>
      <FlexBoxLayout style="margin: 0 0 -4 0;">
        <image
          src="res://coin"
          width="20"
          height="20"
          style="margin: 0 4 0 0;"
        ></image>
        <label
          text="2000"
          class="t_brown"
          style="margin: 0 0 0 0;font-size: 14;font-weight: 600;"
        ></label>
      </FlexBoxLayout>
    </FlexBoxLayout>
  </StackLayout>
  <ActionItem
    *ngIf="showNotifications && hasMenu"
    ios.position="right"
    class=" m-r-50"
  >
    <label
      text="&#xf0f3;"
      class="fa"
      (tap)="showNotificationsAction()"
      style="color: black; font-size: 18;"
    ></label>
  </ActionItem>
  <ActionItem *ngIf="hasMenu" ios.position="left">
    <label
      text="&#xf0c9;"
      class="fa text-center"
      (tap)="sideDrawerToggle()"
      style="color: black; font-size: 16; border-width: 1;border-radius: 42; padding: 11 0 0 0;"
      width="42"
      height="42"
    ></label>
  </ActionItem>
  <!-- <NavigationButton
    text=""
    *ngIf="isAndroidDevice && hasMenu"
    (tap)="sideDrawerToggle()"
    icon="res://menu_black"
></NavigationButton> -->
</ActionBar>
